.bg-light , .dropdown-menu
{
	background-color:#02475e !important;
	border-bottom:1px solid #fefecc;
}

.navbar-light .navbar-brand , .navbar-light .navbar-brand:focus, .navbar-light .navbar-brand:hover ,
.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link ,
.navbar-light .navbar-nav .nav-link
{

	color:#fefecc !important;
	margin-right:17px;
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover,
.dropdown-item
{

	color:#f3bda1 !important;
}

.dropdown-item:active , .dropdown-item:hover

{
	color:#02475e !important;

	background:#f3bda1 !important;
}



.btn:not(:disabled):not(.disabled)
{

	color:#02475e !important;
	background:#f3bda1;
	border-color:#f3bda1;
}


.btn:not(:disabled):not(.disabled):hover
{

	background:none;
	color:#f3bda1 !important;
	
}


.carousel-caption{

display:flex;
align-items:center;
max-width:500px;
text-align:left;
top:49px;
left:9%;
color:#02475e !important;
}



 .carousel-indicators li
{
	height: 14px;
	background:#fff;
	border-radius: 50%;
	border:1px solid #f3bda1;
	width: 14px
	
}


.carousel-indicators .active 
{
	background:#f3bda1;
	border-color:#f3bda1;

}



.a
{
margin-top: 70px;
margin-bottom: 0px;}


#es
{
	
margin-top: 70px;
margin-bottom: 70px;
}
                 /*==============================*/
				 
				 /*============= 1 div ===============*?*/
.first , .s
{
	background:#02475e;
	padding:70px;
	color:#fefecc;
	margin-bottom: 30px;
}
		
.bb
{
	background:none;
	border:1px solid #fefecc;
	color:#fefecc;
	border-radius: 10px;
	padding:7px;
}

		
.bb:hover
{
	background:#fefecc;
	color:#687980;
	
}

            /*-========================end 1 div ----------*?
			 *
			 /*--====================2 div ==================*/
			 
			 .aa
			 {
	color:#02475e;
background:#fefecc;
border:1px solid #687980;
}
			 
			 
			  .center
			 {
	text-align: center;
	
}
			 
			 .p
			  {
			 color:#f3bda1 ;
			 font-size:12px;
			 }



 .cc
			  {
				margin:40px auto;
			 background:#f3bda1 ;
			 width: 60px;
			 height: 2px;
			 margin-top: 0px;
border-right: 40px;			 }



.border
{
	border-radius: 10px;
	background:rgba(220,140,140,0.4);
}



.margin
{
	margin-bottom: 30px;
}

/*       ----------------------------------    card------------------*/

.card-background
{
	background:#f3bda1;
	color:#02475e;

}


.card-back
{
	color:#f3bda1;
	background:#687980;

}

.card-p
{
	font-size:12px;
}



.card-b
{
background:none;
color:#02475e;
border:1px solid #02475e;
border-radius: 7px;}



.card-b:hover
{
box-shadow:1px 1px 2px 1px rgba(100,100,100,0.9);
}



.card-bb
{
background:none;
color:#f3bda1;
border:1px solid #f3bda1;
border-radius: 7px;}



.card-bb:hover
{
box-shadow:1px 1px 2px 1px rgba(240,90,200,0.9);
}

/*-----------------------------------------------------------------*?*/
 footer
 {
	background:#02475e;
	color:#f3bda1;
	padding:49px;
 }
 
 
  footer ul li
 {
	list-style: none;
	cursor: pointer ;
		font-size:11px;
		margin-bottom:7px;
		margin-left:0px;

 }
 
  footer p
 {
	font-size:13px;
 }
 
  footer input
 {
	border-radius: 4px;
	background:#fefecc;
	width:60%;

 }
 
 
  footer button
 {
	background:#f3bda1;
	color:#fff;

 }
 